<div class="flex items-center flex-wrap bg-pink-400 p-6 text-sm lg:flex-grow">
  <nav>
    <a
      class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4"
      routerLink="game"
      >Game</a
    >
  </nav>
  <nav>
    <a
      class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4"
      routerLink="settings"
      >Settings</a
    >
  </nav>
  <nav>
    <a
      class="block mt-4 lg:inline-block lg:mt-0 text-white hover:text-white mr-4"
      routerLink="save-load"
      >Save and Load</a
    >
  </nav>
</div>
