<app-page-wrapper>
  <form>
    <div>
      <label>Choose a level</label>
      <div class="flex">
        <button
          class="mx-2 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline float-right"
          type="button"
          (click)="startPreMadeLevel(Level.Easy)"
        >
          Easy
        </button>

        <button
          class="mx-2 bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline float-right"
          type="button"
          (click)="startPreMadeLevel(Level.Medium)"
        >
          Medium
        </button>

        <button
          class="mx-2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline float-right"
          type="button"
          (click)="startPreMadeLevel(Level.Hard)"
        >
          Hard
        </button>
      </div>
    </div>
  </form>

  <form [formGroup]="form">
    <label for="">Or create your custom game</label>
    <div class="mb-4">
      <label for="width">Width:</label>
      <input type="number" id="width" formControlName="width" />
    </div>

    <div>
      <label for="height">Height:</label>
      <input type="number" id="height" formControlName="height" />
    </div>

    <div>
      <label for="totalMines">Total Mines:</label>
      <input type="number" id="totalMines" formControlName="totalMines" />
    </div>

    <div class="py-8">
      <button
        *ngIf="this.form.valid"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline float-right"
        type="button"
        (click)="saveForm()"
      >
        Save settings and start game
      </button>
    </div>
  </form>
</app-page-wrapper>
