<div class="grid h-screen place-items-center">
  <form [formGroup]="form">
    <div>
      <label for="width">Width:</label>
      <input type="number" id="width" formControlName="width">
    </div>
  
    <div>
      <label for="height">Height:</label>
      <input type="number" id="height" formControlName="height">
    </div>
  
    <div>
      <label for="totalMines">Total Mines:</label>
      <input type="number" id="totalMines" formControlName="totalMines">
    </div>
  
    <button type="button" (click)="saveForm()">Save Settings</button>
  </form>
  
</div>
