<div *ngIf="gameStatus !== NOT_PLAYING">
  <form>
    <div class="flex justify-between items-center mb-2">
      <app-seven-segment-display
        [value]="flagsLeft"
        class="order-1"
      ></app-seven-segment-display>
      <app-reset-button
        (rightClick)="reset()"
        [gameStatus]="gameStatus"
        class="order-2"
      ></app-reset-button>
      <app-seven-segment-display
        id="timer"
        [value]="timeElapsed"
        class="order-3"
      ></app-seven-segment-display>
    </div>
    <app-board
      [cells]="cells"
      [gameStatus]="gameStatus"
      (rightClick)="rightClick($event)"
      (leftClick)="leftClick($event)"
    ></app-board>
  </form>
</div>
