<div class="relative">
    <table class="table-auto">
        <tr *ngFor="let row of cells">
            <td *ngFor="let item of row">
                <app-cell [cell]="item" (rightClick)="rightClick.emit(item)" (leftClick)="leftClick.emit(item)"></app-cell>
            </td>
        </tr>
    </table>
    <div *ngIf="gameStatus === GAMESTATUS.WON"
        class="absolute top-0 left-0 w-full h-full flex items-center justify-center overlay">
        <span class="text-white text-2xl font-bold">YOU WON!!</span>
    </div>

    <div *ngIf="gameStatus === GAMESTATUS.LOST"
        class="absolute top-0 left-0 w-full h-full flex items-center justify-center overlay">
        <span class="text-white text-2xl font-bold">YOU LOSE!!</span>
    </div>
</div>